<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Tourni Dashboard</title>
</head>

<body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a href="index.html" class="navbar-brand">King of the Court</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2">
                        <a href="user.html" class="nav-link active">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="myleagues.html" class="nav-link">My Leagues</a>
                    </li>
                    <li class="nav-item">
                        <a href="search.html" class="nav-link">Search Leagues</a>
                    </li>
                </ul>
                                    <!-- feeding from mysql-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i>
                            Welcome, {{teamintournament.teamname}}
                        </a>
                        <div class="dropdown-menu">
                            <a href="profile.html" class="dropdown-item"><i class="fas fa-user-circle"></i> Profile
                            </a>
                            <a href="settings.html" class="dropdown-item"><i class="fas fa-cog"></i> Settings
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="nav-link">
                            <i class="fas fa-user-times"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- HEADER -->

    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fas fa-cog"></i> Dashboard</h1>
                </div>
            </div>
        </div>
    </header>

    <!--Tournament Dashboard-->

    <!--APIS-->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white my-3">
                        <div class="card-body">
                            <h3>Next Match is against</h3>
                            <h4 class="display-4">
                                <p>Scrub City</p>
                            </h4>
                        </div>
                    </div>

                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>6/15/2019 5pm @ North Ave Beach</h3>
                            <!-- The api image in handlebars needs to be referenced as a css class this is called spriting source: https://groups.google.com/forum/#!topic/sproutcore/4HgigMwUPYE -->
                            <img class=".map" alt="north Ave" position=fixed width=200px>
                            <h4 class="display-4">
                        </div>
                    </div>
                    <!-- API WEATHER DATA HERE. Variables are referenced in api.js-->
                    <div class="card text-center bg-warning text-white mb-3">
                        <div class="card-body">
                            <h3>Match Weather</h3>
                            <h2 class="display-4">
                                <h4>Temp: 90 °F </h4>
                                <script>document.write(temp);</script>
                                <h4> Chance of Rain</h4>
                                <script>document.write(precipprobability)</script>
                                <script type="text/javascript"></script>
                                </h4>
                        </div>
                    </div>
                </div>

                <!--Season Table populated by the mysql tables these are coming from allTourni.js and teamintournament.js-->

                <div class="col-md-9">
                    <div class="card my-3">
                        <div class="card-header my-3">
                            <h4>{{alltourni.tournamentName}}</h4>
                        </div>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Rank</th>
                                    <th>Team</th>
                                    <th>Wins</th>
                                    <th>Losses</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{teamintournament.teamname}}</td>
                                    <td>{{teamintournament.Wins}}</td>
                                    <td>{{teamintournament.losses}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{teamintournament.teamname}}</td>
                                    <td>{{teamintournament.Wins}}</td>
                                    <td>{{teamintournament.losses}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{teamintournament.teamname}}</td>
                                    <td>{{teamintournament.Wins}}</td>
                                    <td>{{teamintournament.losses}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>{{teamintournament.teamname}}</td>
                                    <td>{{teamintournament.Wins}}</td>
                                    <td>{{teamintournament.losses}}</td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <section id="buttons">
                        <div class="col-md-9">
                            <div class="card">
                                <h2>{{teamintournament.teamname}}</h2>




                                <!-- did you win or lose add to your total-->
                                <button onclick="winFunction()">Win!</button>

                                <script>
                                    function winFunction() {
                                        {{teamintournament.Wins}} +1 
                                    }
                                </script>

                                <br>
                                <br>

                                <!--Lose function-->
                                <button onclick="loseFunction()">Lose</button>

                                <script>
                                    function loseFunction() {
                                        {{teamintournament.losses}} +1 
                                    }
                                </script>

                        </div>

                </div>

               




            </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy; <span id="year"></span> King of the Court</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- MODALS -->



    <!--Tried running API DATA on local file in case the issue was connecting between pages-->
    <!--
    <script>
    

      //need to find a way to feed this into the css file so that we can submit without the api key. Also need to find how to put api key into a .env
      let mapurl =
        "https://maps.googleapis.com/maps/api/staticmap?center=North+Avenue+Beach,Chicago,IL&zoom=13&size=400x200&maptype=roadmap%20&markers=color:blue%7Clabel:S%7C41.9148113,-87.6251085&key=";
      let mapapi = process.env.GOOGLEMAPSAPIKEY;
      // process.env.GOOGLEMAPSAPIKEY

      let entiremapurl = mapurl + mapapi;
      console.log(entiremapurl);
    </script>

    -->

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>


    <!--Link to the JS file with API data-->
    <script src="/public/js/apis.js" type="text/javascript"></script>

    <script>
        // Get the current year for the copyright
        $("#year").text(new Date().getFullYear());

        //CKEditor
        CKEDITOR.replace("editor1");
    </script>
</body>

</html>